    body {
    background: linear-gradient(to bottom, #fff, #000 );
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .panel {
    background-color: #ffffff49;
    border-radius: 15px;
    width: 500px;                     
    padding:32px;
    margin: 100px 0 10px 60px;         
    box-sizing: border-box;
    margin-left: 500px;
    margin-top: 100px;
    border: none;
    box-shadow: 
    0 0 20px rgb(255, 255, 255), 
    0 0 40px rgba(255, 255, 255, 0.383), 
    0 0 60px rgba(255, 255, 255, 0.184); 
    align-items: center;
  }

.nav-button {
    background-color: #ffffffcf;
    border: 2px solid #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    height: 40px;
    width: 20%;
    margin-top: 130px;
    margin-left: 150px;
    cursor: pointer;
    transition: transform .2s;
  }

    .app-name {
    color: #ffffff;
    margin-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80px;
    margin-left: 20px;
  }

    .header {
    background-color: #000000;
    height: 120px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

  .inputline2 {
    font-size: 20px;
    width: 85%;
    margin-top: 20px;
  }

  .inputline {
    margin-bottom: 20px;
    font-size: 20px;
    width: 85%;
  }


  .panel2 {
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    letter-spacing: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: none;
    box-shadow: 
   0 0 20px rgb(255, 255, 255), 
    0 0 40px rgba(255, 255, 255, 0.383), 
    0 0 60px rgba(255, 255, 255, 0.184);
    border: solid 2px;
    background-color:#ffffffcf;
  }

  .logo {
    display: block;
    margin-left: 450px;
    margin-top: 4px; 
    width: 115px;
    height: 115px;
    border: 18px;
}

  .nav-button:hover {
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
}
  
  .boxed-title {
    padding: 12px 20px; 
    display: block; 
    width: 80%; 
    margin: 0 auto; 
    background-color: #ffffffcf; 
    border: 2px solid #000; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 35px; 
    margin-bottom: 20px; 
    margin-top: 20px; 
    text-align: center;
    height: 40px;
  }

  .flash.success { 
    color: green; 
    font-weight: bold; 
  } 
  .flash.error { 
    color: red; 
    font-weight: bold; 
  }