    body {
    background: linear-gradient(to bottom, #fff, #000 );
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
    title {
      color: #fff
    }
  .panel {
    background-color: #ffffff49;
    border-radius: 15px;
    width: 500px;                     
    padding:32px;
    margin: 100px 0 10px 60px;         
    box-sizing: border-box;
    margin-left: 450px;
    margin-top: 10px;
    border: none;
    box-shadow: 
    0 0 20px rgb(255, 255, 255), 
    0 0 40px rgba(255, 255, 255, 0.383), 
    0 0 60px rgba(255, 255, 255, 0.184); 
  }

  h1 {
    font-size: 60px;
    letter-spacing: 2px;
    margin: 0 0 30px;
    margin-left: 65px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
  }

  .nav-button {
    background-color: #ffffffcf;
    border: 2px solid #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    height: 60px;
    width: 80%;
    margin-bottom: 20px;
    margin-left: 45px;
    cursor: pointer;
    transition: transform .2s;
  }
  
    .header {
    background-color: #000000;
    height: 120px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.nav-button:hover {
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
}

  .logo {
    display: block;
    margin-left: 450px;
    margin-top: 4px; 
    width: 115px;
    height: 115px;
    border: 18px;
}

.main-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 40px;
}

  .app-name {
    color: #ffffff;
    margin-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80px;
    margin-left: 20px;
  }