<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='adminstyle.css') }}">

<element div class = "header">
  <img src = "{{url_for('static', filename = 'images/logo.png')}}" class = "logo">
  <div class = "app-name"> ParkTrack</div>
</element>

<body>
        
    <div class="panel"> 
        <h1><strong>ParkTrack</strong></h1> 
        <p class="boxed-title">Reports</p> 

        <p1 style="
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            margin-left: 50px;
            margin-bottom: 20px;
            "> 
        <div class="panel2">
          <form method = "POST" action="/adminlogin">
            <label for="username"><strong>username:</strong></label><br>
            <input type="text" id="username" name="username" class="inputline"> <br><br>

            <labelh for="password"><strong>password:</strong></label><br>
            <input type="password" id="password" name="password" class="inputline"> <br> 
            <input type="submit" value="Login">
          </form>
        </div>
    </div>

<div class="otherButtons">
    <button class="nav-button" onclick="location.href='/exit'">Exit Vehicle</button>
    <button class="nav-button" onclick="location.href='/viewcurrent'">View Current Parked</button>
    <button class="nav-button" onclick="location.href='/'">Main Menu</button>
</div>

</head>
</body>
</html>