<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='enterstyle.css') }}">

<element div class = "header">
  <img src = "{{url_for('static', filename = 'images/logo.png')}}" class = "logo">
  <div class = "app-name"> ParkTrack </div>
</element>
<body>
        
    <div class="panel"> 
        <h1><strong>ParkTrack</strong></h1> 
        <p class="boxed-title">Enter Vehicle</p> 

        <p1 style="
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            margin-left: 50px;
            margin-bottom: 20px;
            "> 
        <form method = "POST" action = "/enter">
            <div class="panel2">
                <labelh for="licensePlate"><strong>Input the Vehicle's License Plate:</strong></label><br><br>
                <input type="text" id="licensePlate" name="licensePlate" placeholder="e.g. ABC1234" class="inputline"><br>

                <label for="slotNumber"><strong>Slot Number:</strong></label><br> 
                <input type="text" id="slotNumber" name="slotNumber" placeholder="e.g. P1" class = "inputline2"><br><br>

                <input type="submit" value="Enter Vehicle">
                    {% with messages = get_flashed_messages(with_categories=true) %} 
	                    {% if messages %} 
		                    {% for category, message in messages %} 
			                    <div class="flash {{ category }}">{{ message }} </div> 
		                    {% endfor %} 
	                    {% endif %} 
                    {% endwith %}
            </div>
        </form>
    </div>

    <div class = "flash {{category}}">

    </div>

<div class="otherButtons">
    <button class="nav-button" onclick="location.href='/exit'">Exit Vehicle</button>
    <button class="nav-button" onclick="location.href='/viewcurrent'">View Current Parked</button>
    <button class="nav-button" onclick="location.href='/'">Main Menu</button>
</div>

</head>
</body>
</html>