<!DOCTYPE html>
<html>
  <title> ParkTrack</title>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<element div class = "header">
  <img src = "{{url_for('static', filename = 'images/logo.png')}}" class = "logo">
  <div class = "app-name"> ParkTrack</div>
</element>
</head>
<body>
    
<div class = "main-container">
  <div class="panel">
    <h1><strong>Welcome!</strong></h1>
    <button class="nav-button" onclick="location.href='/enter'">Enter Vehicle</button> 
    <button class="nav-button" onclick="location.href='/exit'">Exit Vehicle</button>
    <button class="nav-button" onclick="location.href='/viewcurrent'">View Current Parked</button>
    <button class="nav-button" onclick="location.href='/adminlogin'">Reports</button>
  </div>
</div>
    
  
</body>
</html>
