<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='reportstyle.css') }}">

<element div class = "header">
  <img src = "{{url_for('static', filename = 'images/logo.png')}}" class = "logo">
  <div class = "app-name"> ParkTrack</div>
</element>

<body>
    
<div class="panel">
  <p class="boxed-title">Daily Reports</p>

<div class="panel2">
  <h2><strong>Total Entries:</strong></h2>
  <div class="entry-cnt">
    <p id="entry-count">{{ vehicles|length }}</p>
  </div>

  <h3><strong>Average Time Duration:</strong></h3>
  <div class="avg-duration">
    <p id="average-duration">{{ average_duration }} minutes</p>
  </div>

  <h3><strong>Vehicle Details:</strong></h3>

  {% for vehicle in vehicles %}
    <div class="vehicle">
      <p><strong>Plate:</strong> {{ vehicle.plate }} | <strong>Spot:</strong> {{ vehicle.spot }}</p>
      <p><strong>Entry:</strong> {{ vehicle.entry }}</p>
      <p><strong>Exit:</strong> {{ vehicle.exit }}</p>
      <p><strong>Duration:</strong> {{ vehicle.duration }}</p>
    </div>
  {% endfor %}
</div>
</div>

<div class="otherButtons">
    <button class="nav-button" onclick="location.href='/exit'">Exit Vehicle</button>
    <button class="nav-button" onclick="location.href='/viewcurrent'">View Current Parked</button>
    <button class="nav-button" onclick="location.href='/'">Main Menu</button>
</div>

</head>
</body>
</html>